*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.editor {
  width: 70vw;
  margin: 2rem auto;
}

.btn-save {
  width: 150px;
  height: 35px;
  margin-top: 2rem;
}

.list-row {
  border-bottom: 1px solid #ccc;
  text-indent: 25px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list-row:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

button {
  cursor: pointer;
  padding: .3rem 1rem;
  margin-left: 20px;
}

.action {
  display: flex;
  justify-content: space-between;
}

.btn-delete{
  background-color: red;
  color: white;
  border: none;
}